.footer {
  padding-top: var(--fourth-margin);
  padding-bottom: var(--fourth-margin);

  background-color: var(--main-background);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  color: var(--main-title);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}

.footer__logo--anim:hover .logo--color-change,
.footer__logo--anim:focus .logo--color-change {
  color: var(--main-title);
}

.address {
  margin-top: 20px;
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

/* .footer-list {
} */

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title);

  transition: color 250ms cubic-bezier(var(--cubic-bezier));
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text);

  transition: color 250ms cubic-bezier(var(--cubic-bezier));
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.soc__wrap--margin {
  margin-left: var(--seven-margin);
}

.soc__title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title);
}

.soc__list {
  display: flex;
  justify-content: center;
}

.soc__item {
  margin-right: var(--third-margin);
  width: 44px;
  height: 44px;
}

.soc__item:last-child {
  margin-right: 0;
}

.soc__link--color {
  background: rgba(255, 255, 255, 0.1);
  color: var(--main-title);
}

.soc__link:hover,
.soc__link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.footer__form {
  margin-left: 93px;
}

.footer__title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title);
}

.submit__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer__input--field {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid var(--border-color-second);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--five-text);
  background-color: transparent;
  outline: none;
}

.footer__input--field::placeholder {
  color: var(--four-text);
}

.footer__input--field input:-webkit-autofill {
  background-color: var(--fifth-background);
  color: var(--five-text);
}

.footer__input--field:focus,
.footer__input--field:hover {
  border-color: var(--accent-color);
}

.footer__input:-webkit-autofill {
  background-color: #ffffff;
}

.submit__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;

  color: var(--main-title);
  background-color: var(--accent-color);

  transition: color 250ms cubic-bezier(var(--cubic-bezier)),
    background-color 250ms cubic-bezier(var(--cubic-bezier)),
    box-shadow 250ms cubic-bezier(var(--cubic-bezier));
}

.submit__icon {
  margin-left: 10px;
  fill: currentColor;
}

.submit__btn:hover,
.submit__btn:focus {
  color: var(--accent-color);
  background-color: var(--secondary-background);
  box-shadow: var(--box-shadow-four);
}
